<!DOCTYPE html>
<html><head><title>Advisees</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script> 

</head>
<body ng-app = "homeApp">

<div class="container">
<nav class="navbar navbar-inverse">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Our Website</a>
    </div>
    <div>
       <ul class="nav navbar-nav">
           <li class="active"><a href="index.html">All Advisees</a></li>
           <li><a href="gpa.html">Grade Point Averages</a></li>
       </ul>
    </div>

</nav> 

<div ng-controller="homeCtrl">

    <h2>Advisees</h2>
    <p>Today is: {{date}}</p>

    <p><input type='text' ng-model='search_text'> Enter Search text</p>

    <table class="table table-bordered table-striped">

        <tr>

            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Credit Hours</th>
            <th>GPA Points</th>
            <th>Major</th>
        </tr>

        <tr ng-repeat="student in students | filter:search_text">

        <tr> <td>1121</td><td>Rita</td><td>Solertan</td><td>23</td><td>48</td><td>CIT</td></tr>
        <tr> <td>1398</td><td>Rivka</td><td>Alexander</td><td>41</td><td>103</td><td>EET</td></tr>
        <tr> <td>1498</td><td>Ned</td><td>Ramos</td><td>28</td><td>100</td><td>BUS</td></tr>
        <tr> <td>1675</td><td>Jon</td><td>Martinez</td><td>36</td><td>86</td><td>WEB</td></tr>
        <tr> <td>1686</td><td>Carl</td><td>McElan</td><td>36</td><td>100</td><td>WEB</td></tr>
        <tr> <td>1842</td><td>Bob</td><td>Palla</td><td>21</td><td>36</td><td>CIT</td></tr>
        <tr> <td>1870</td><td>Tilda</td><td>Downey</td><td>31</td><td>86</td><td>CIT</td></tr>
        <tr> <td>2059</td><td>Mary</td><td>Proth</td><td>33</td><td>105</td><td>CIT</td></tr>
        <tr> <td>2191</td><td>Zelda</td><td>Rowe</td><td>12</td><td>39</td><td>BUS</td></tr>
        <tr> <td>2268</td><td>Alice</td><td>Vonna</td><td>7</td><td>22</td><td>CIT</td></tr>
        <tr> <td>2355</td><td>Manny</td><td>Alvarez</td><td>24</td><td>96</td><td>CIT</td></tr>
        <tr> <td>2453</td><td>Sally</td><td>Eldorodo</td><td>53</td><td>168</td><td>CIT</td></tr>
        <tr> <td>2467</td><td>Jena</td><td>Hardy</td><td>14</td><td>23</td><td>CIT</td></tr>
        <tr> <td>2575</td><td>Donald</td><td>Bennett</td><td>27</td><td>78</td><td>CIT</td></tr>
        <tr> <td>2579</td><td>Jack</td><td>Bass</td><td>37</td><td>98</td><td>CIT</td></tr>
        <tr> <td>2588</td><td>Rick</td><td>Cildaro</td><td>47</td><td>140</td><td>BUS</td></tr>
        <tr> <td>2756</td><td>Dave</td><td>Bean</td><td>14</td><td>44</td><td>CIT</td></tr>
        <tr> <td>3117</td><td>Jenn</td><td>Labanda</td><td>21</td><td>44</td><td>EET</td></tr>
        <tr> <td>3726</td><td>Elle</td><td>Rose</td><td>34</td><td>113</td><td>CIT</td></tr>
        <tr> <td>3968</td><td>Larissa</td><td>Tolfer</td><td>19</td><td>37</td><td>EET</td></tr>
        <tr> <td>3983</td><td>Jenna</td><td>Mamiya</td><td>34</td><td>91</td><td>CIT</td></tr>
        <tr> <td>4235</td><td>Jayson</td><td>Matherson</td><td>16</td><td>40</td><td>CIT</td></tr>
        <tr> <td>4982</td><td>Karl</td><td>Riccardo</td><td>24</td><td>45</td><td>CIT</td></tr>
        <tr> <td>4991</td><td>Clevon</td><td>Forrester</td><td>44</td><td>103</td><td>EET</td></tr>
        <tr> <td>5435</td><td>Joyce</td><td>Harden</td><td>21</td><td>75</td><td>CIT</td></tr>
        <tr> <td>5462</td><td>Moses</td><td>Fernandez</td><td>32</td><td>99</td><td>WEB</td></tr>
        <tr> <td>6084</td><td>Albert</td><td>Morris</td><td>21</td><td>67</td><td>CIT</td></tr>
        <tr> <td>6241</td><td>Aaron</td><td>Lee</td><td>32</td><td>100</td><td>EET</td></tr>
        
        </tr>
    </table>

</div>  
</div>  

<script>
var app = angular.module('homeApp', []);

app.controller('homeCtrl', function($scope, $http) {
  
     var today = new Date(); 
     $scope.date= today.toDateString()
	   
});
		  
</script>
</body></html>